<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
   <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
    <style type="text/css">
        .warning{width: 100%;height: 20px;font-size: 15px;}
        .err{
            border: 1px solid red;
        }
        .ok{
            border: 1px solid green;
        }
        .errC{
            color: red;
        }
        .okC{
            color: green;
        }
    </style>
</head>
<body ng-app="my.app">
    <div class="container ">
        <form class="form-horizontal" name="form"  ng-controller="checkCtrl" novalidate="novalidate" >
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                     <input ng-class="{'ok':beok.user&&form.username.$valid,'err':beok.user&&form.username.$dirty&&form.username.$invalid,'form-control':true}" 
                         ng-focus="setWaning('user')" 
                         ng-blur="userCheck()" 
                         name="username" 
                         ng-model="data.user"  
                         type="text"  
                         required />
                </div>
                <p ng-class="{'okC':beok.user&&form.username.$valid,'errC':beok.user&&form.username.$dirty&&form.username.$invalid,'warning':true,'col-sm-12':true,'col-sm-offset-2':true}" ng-bind="warning.user"></p>
            </div>  
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                     <input ng-class="{'ok':beok.pass&&form.password.$valid,'err':beok.pass&&form.password.$dirty&&form.password.$invalid,'form-control':true}" 
                         ng-focus="setWaning('pass')" 
                          name="password" 
                          ng-blur="passCheck()" 
                          ng-model="data.pass"  
                          type="password" required  />
                </div>
                <p ng-class="{'okC':beok.pass&&form.password.$valid,'errC':beok.pass&&form.password.$dirty&&form.password.$invalid,'warning':true,'col-sm-12':true,'col-sm-offset-2':true}" ng-bind="warning.pass"></p>
            </div> 
             <div class="form-group">
                <label class="col-sm-2 control-label">密码确认</label>
                <div class="col-sm-10">
                     <input ng-class="{'ok':beok.repass&&form.repassword.$valid,'err':beok.repass&&form.repassword.$dirty&&form.repassword.$invalid,'form-control':true}" 
                         name="repassword" 
                         ng-focus="setWaning('repass')" 
                         ng-blur="repassCheck()" 
                         ng-model="data.repass" 
                          type="password" 
                          required  />
                </div>
                <p ng-class="{'okC':beok.repass&&form.repassword.$valid,'errC':beok.repass&&form.repassword.$dirty&&form.repassword.$invalid,'warning':true,'col-sm-12':true,'col-sm-offset-2':true}" ng-bind="warning.repass"></p>
            </div> 
             <div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                     <input ng-class="{'ok':beok.email&&form.email.$valid,'err':beok.email&&form.email.$dirty&&form.email.$invalid,'form-control':true}" 
                            name="email" 
                            ng-model="data.email" 
                             ng-focus="setWaning('email')" 
                             ng-blur="emailCheck()" 
                              type="email" required  />
                </div>
                <p ng-class="{'okC':beok.email&&form.email.$valid,'errC':beok.email&&form.email.$dirty&&form.email.$invalid,'warning':true,'col-sm-12':true,'col-sm-offset-2':true}" ng-bind="warning.email"></p>
            </div> 
             <div class="form-group">
                <label class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                     <input ng-class="{'ok':beok.tel&&form.tel.$valid,'err':beok.tel&&form.tel.$dirty&&form.tel.$invalid,'form-control':true}" name="tel"
                            ng-model="data.tel" 
                             ng-focus="setWaning('tel')" 
                            ng-pattern="/^0?1[3|4|5|8][0-9]\d{8}$/"
                            ng-blur="telCheck()"
                             ng-model="data.tel"  type="telephone" required  />
                </div>
                <p ng-class="{'okC':beok.tel&&form.tel.$valid,'errC':beok.tel&&form.tel.$dirty&&form.tel.$invalid,'warning':true,'col-sm-12':true,'col-sm-offset-2':true}" ng-bind="warning.tel"></p>
            </div> 
            <div class="from-group">
                <button ng-click="submit()" class="center-block btn btn-primary" type="submit">提交</button>
            </div>
        </form>
    </div>
</body>
<script>
    var app=angular.module("my.app",[]);
app.controller("checkCtrl",["$scope","text_check",function($scope,text_check){
    $scope.data={user:""};  //初始化数据
     $scope.warning={   
        user:"",
        pass:"",
        repass:"",
        email:"",
        tel:""
    }
    var beSet={  //设置是否被设置了提示，避免每次focus都提示
        user:false,
        pass:false,
        repass:false,
        email:false,
        tel:false
    };
    $scope.beok={   //设置是否可以判断表单，避免每次input都会判断表单
        user:false,
        pass:false,
        repass:false,
        email:false,
        tel:false
    }
    $scope.setWaning=function(self){
        var arr={          //默认提示
            user:"请输入长度为4-16的字符",
            pass:"请输入多于4位密码",
            repass:"再次输入相同密码",
            email:"请输入邮箱",
            tel:"请输入手机号码"
        }
        if (!beSet[self]) {
            $scope.warning[self]=arr[self];
            beSet[self]=true;
        };
        
    }
   
    $scope.userCheck=function(){
        $scope.beok.user=true;
       if (text_check.check($scope.data.user)=="格式正确") {   //验证格式
          $scope.form.username.$setValidity("username",true);   //设置username这项验证不通过
          $scope.warning.user=text_check.check($scope.data.user);
       }else if ($scope.data.user){ 
         $scope.form.username.$setValidity("username",false)   //设置本项验证通过
         $scope.warning.user=text_check.check($scope.data.user);
       }
    }
    $scope.passCheck=function(){
         $scope.beok.pass=true;
        if ($scope.data.pass&&$scope.data.pass.toString().length>=4) {    //验证密码
            $scope.warning.pass="密码可用";
             $scope.form.password.$setValidity("password",true); //设置本项验证通过
        }else if($scope.data.pass){
            $scope.warning.pass="密码不可用";
            $scope.form.password.$setValidity("password",false); 
        }
    }
     $scope.repassCheck=function(){
         $scope.beok.repass=true;
        if ($scope.data.repass&&$scope.data.pass==$scope.data.repass) { 
            $scope.warning.repass="重复密码正确";
             $scope.form.repassword.$setValidity("repassword",true); //设置验证通过
        }else if($scope.data.repass){
            $scope.warning.repass="重复密码不正确";
            $scope.form.repassword.$setValidity("repassword",false); 
        }
    }
    $scope.emailCheck=function(){
         $scope.beok.email=true;
        if ($scope.form.email.$valid) {   //判断是否验证通过
            $scope.warning.email="邮箱格式正确";
        }else if($scope.form.email.$dirty){  //保证email不为空
            $scope.warning.email="邮箱格式错误";
        }
    }
     $scope.telCheck=function(){
        $scope.beok.tel=true;
        if ($scope.form.tel.$valid) {   //判断是否验证通过
            $scope.warning.tel="手机格式格式正确";
        }else if($scope.form.tel.$dirty){
            $scope.warning.tel="手机格式格式错误";
        }
    }
    $scope.submit=function(){

        $scope.form.$setDirty();
        if($scope.form.$valid){   //判断表单是否全部验证通过
            alert("提交成功！");
        }else {
            alert("提交有误")
        }
    }
}])
app.service("text_check",function(){   //验证输入情况
    return {
        check:function check(input) {
                input=input||"";
                var st = "";
                if (typeof input === "number") {
                    st = input.toString();
                }
                else {
                    st = input.replace(/[\u4E00-\u9FA5]/g, "aa");  //是汉字替换为2个字符的字母
                }
                switch(true){
                  case st.length<4&&st.length!=0:return "输入不能小于4个字符";break;
                  case st.length>14:return "输入不能大于14个字符";break;
                  case st.length==0:return "输入不能为空";break;
                  default:return "格式正确";
                }
            }
    }
})
 
</script>
</html>
